body{
  background: url("images/Carnival Theme Banner.png") no-repeat center center fixed;
  background-size: 100%;
  cursor: url("a bazooka crosshair.cur"), crosshair ;
  /*min-width: 960px;*/

}

.clown{
  height: 25vh;
  width: 15vw;
/*  border: 3px solid orange;
*/position: relative;
  max-height: 23vh;
  max-width:11vw;
  padding-top: 1vh;
}

#score{
  color: orange;
  font-size: 2vw;
  border: 5px dotted black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  margin-right: auto;
  text-align: center;

}

#clock {
  color: orange;
  font-size: 2vw;
  border: 5px dotted snow;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  text-align: center;
}

h1{
  font-family: 'Rye', cursive;
  font-size: 4vw;
  text-align: center;
  margin: 0 auto;
  color: snow;
  letter-spacing: 30px;

}

#flex-container1{
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 21vh;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 9vh;
  margin-bottom: 2vh;



}

#flex-container2{
  display: flex;
  flex-direction: row;
  width: 83vw;
  height: 21vh;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 6vh;
}

#flex-container3{
  display: flex;
  flex-direction: row;
  width: 39vw;
  height: 21vh;
  justify-content: space-around;
  margin: 0 auto;

}

#target2, #target4, #target5, #target9, #target12{
  background-image: url("images/clown1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#target1, #target6, #target8, #target13{
  background-image: url("images/clown2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#target3, #target7, #target10, #target11{
  background-image: url("images/clown3.png");
  background-repeat: no-repeat;
  background-size: cover;
}



